<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/icon.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('highlight') }}>
        <nav class="flex flex-row justify-between items-center text-lg px-2">
            <h1 class="navigation__brand">{%- block header -%}{%- endblock -%}</h1>
            <div class="navigation__links">
                {% block navigation %}{% endblock %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set href = path("authLogout")%}
                    {% set title = "Logout" %}
                    {{ block("navigation_item") }}
                {% else %}
                    {% set href = path("authLogin")%}
                    {% set title = "Login" %}
                    {{ block("navigation_item") }}
                {% endif %}
            </div>
        </nav>
        <div class="p-2"></div>
        <main class="max-w-2xl mx-auto">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>

{% if false %}
    {%- block navigation_item -%}
        <a href="{{ href }}">{{ title }}</a>
    {%- endblock -%}
{% endif %}
